aside(class="main-sidebar")
  section(class="sidebar")
    ul(class="sidebar-menu" data-widget="tree")
      li(class="header") MAIN MENU
      li
        a(href="/chats?sender=1&receiver=2")
          i(class="fa fa-comments")
          span User 1
      li
        a(href="/chats?sender=2&receiver=1")
          i(class="fa fa-comments")
          span User 2
